html(lang=en)
	head
		title IOT Interface
		link(href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
		link(href="/public/css/app.css" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	body
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h3 IOT Interface
					hr
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12#browser
				.col-xs-12.col-sm-12.col-md-4.col-lg-4
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.panel.panel-default.text-center
								.panel-body
									h4 Press start to stream.
									hr
									.row
										.col-md-5.col-lg-5.col-xs-5.col-sm-5.col-md-offset-1.col-lg-offset-1.col-sm-offset-1.col-xs-offset-1
											button#start(type="button").btn.btn-default.btn-block Start
										.col-md-5.col-lg-5.col-xs-5.col-sm-5
											button#stop(type="button").btn.btn-danger.btn-block Stop
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							#error
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.panel.panel-default
									.panel-body
										span#status-text
											|Not streaming now
										span#status-image.pull-right
											span.glyphicon.glyphicon-remove.text-danger
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							.panel.panel-default.text-center
									.panel-body
										h4 Current Streaming Number
										p#current(style="font-size:xx-large;") None
												
				.col-xs-12.col-sm-12.col-md-4.col-lg-4
					.panel.panel-default
						.panel-body
							h4 Streaming Options
							hr
							.form-group
								label(for="rate") Interval of streaming (in ms):
								input#rate.form-control(type="number" min="0" value=200)
							hr
							p.help-text.text-muted Select a reasonable value for good results. Selected interval is used for generating random numbers.
				.col-xs-12.col-sm-12.col-md-4.col-lg-4
					.panel.panel-default
						.panel-body
							h4 Connected Remote Clients: 
								span#clients-count 0
							p.text-muted You can open multiple clients.
							a(href="/remote" target="_blank") Open Remote Client 
								i.glyphicon.glyphicon-new-window(style="font-size: x-small")
						ul.list-group#clients
	script(src="node_modules/jquery/dist/jquery.min.js" type="text/javascript")
	script(src="/socket.io/socket.io.js")
	script(src="/public/scripts/peer.min.js" type="text/javascript")
	//- Custom JavaScript
	script(src="/public/scripts/client.js" type="text/javascript")